{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <!-- Automated slideshow that shows the images of the currently available teams -->
    <div id="homeCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            {% for image in images %}
                <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="{{ loop.index0 }}"
                        {% if loop.first %}class="active" aria-current="true"{% endif %}
                        aria-label="Slide {{ loop.index }}"></button>
            {% endfor %}
        </div>
        <div class="carousel-inner">
            {% for image in images %}
                <div class="carousel-item{% if loop.first %} active{% endif %}">
                    <img src="{{ asset('uploads/' ~ image) }}" class="d-block w-100" alt="{{ image }}">
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
            <span class="visually-hidden">Photo précédente</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
            <span class="visually-hidden">Photo suivante</span>
        </button>
    </div>
{% endblock %}
